@font-face {
    font-family: "ActionMan";
    src: url(./font/acm.ttf) format("truetype");
}

#tabla_consumos {
    color: #000;
    font-family: "ActionMan";
    font-size:13px;
    
    margin: 0 auto;
}

/*
 * #select_estados{

	position:absolute;
	width:20%;

}

*/

#eliminar {
    color: #000;
    font-family: "ActionMan";
    font-size:13px;
}

input[type="number"] {
    width: 30%;
}


@media (min-width: 768px) { 

#fixedtop1 { position: fixed; top: 318px; left: -550px; right: 0; border: none; z-index: 50; visibility: hidden;}
#center250a { width: 250px; margin: auto; background-color: transparent; } 

}



@media (min-width: 1280px) { 

#fixedtop1 { position: fixed; top: 395px; left: -750px; right: 0; border: none; z-index: 50; visibility: hidden; }
#center250a { width: 250px; margin: auto; background-color: transparent; } 

}


@media (min-width: 1366px) { 

#fixedtop1 { position: fixed; top: 320px; left: -550px; right: 0; border: none; z-index: 50; visibility: hidden; }
#center250a { width: 250px; margin: auto; background-color: transparent; } 

}


@media (min-width: 1920px) { 

#fixedtop1 { position: fixed; top: 432px; left: -880px; right: 0; border: none; z-index: 50; visibility: hidden; }
#center250a { width: 250px; margin: auto; background-color: transparent; } 

}