@font-face {
    font-family: "Knockout";
    src: url(./font/knk.otf) format("opentype");
}

#tabla_consumos {
    color: #000;
    font-family: "Knockout";
    font-size:22px;
    text-align: center;
    margin: 0 auto;
}


#eliminar {
    color: white;
    font-family: "Knockout";
    font-size:22px;
     
}

input[type="number"] {
    width: 30%;
}


@media (min-width: 800px) { 

#fixedtop1 { position: absolute; top: 208px; left: -390px; right: 0; border: none; z-index: 50; visibility: hidden;}
#center250a { width: 250px; margin: auto; background-color: transparent; } 

}


@media (min-width: 1024px) { 

#fixedtop1 { position: absolute; top: 270px; left: -550px; right: 0; border: none; z-index: 50; visibility: hidden;}
#center250a { width: 250px; margin: auto; background-color: transparent; } 

}



@media (min-width: 1280px) { 

#fixedtop1 { position: absolute; top: 263px; left: -525px; right: 0; border: none; z-index: 50; visibility: hidden; }
#center250a { width: 250px; margin: auto; background-color: transparent; } 

}


@media (min-width: 1280px) and (min-height: 800px) { 

#fixedtop1 { position: absolute; top: 342px; left: -760px; right: 0; border: none; z-index: 50; visibility: hidden; }
#center250a { width: 250px; margin: auto; background-color: transparent; } 

}


@media (min-width: 1360px) { 

#fixedtop1 { position: absolute; top: 278px; left: -570px;right: 0; border: none; z-index: 50; visibility: hidden; }
#center250a { width: 250px; margin: auto; background-color: transparent; } 

}


@media (min-width: 1920px) { 

#fixedtop1 { position: fixed; top: 385px; left: -880px; right: 0; border: none; z-index: 50; visibility: hidden; }
#center250a { width: 250px; margin: auto; background-color: transparent; } 

}


@media (min-width: 1440px) and (min-height: 900px) { 

#fixedtop1 { position: absolute; top: 390px; left: -890px; right: 0; border: none; z-index: 50; visibility: hidden; }
#center250a { width: 250px; margin: auto; background-color: transparent; } 

}


@media (min-width: 1650px) and (min-height: 1050px) { 

#fixedtop1 { position: absolute; top: 445px; left: -1050px; right: 0; border: none; z-index: 50; visibility: hidden; }
#center250a { width: 250px; margin: auto; background-color: transparent; } 

}